 body{
    	margin: 0px;
    	padding: 0px;
    	background-color:#2F4F4F;
    	}
 a{
    	color:white;
    	text-decoration: none;
    	}
 ul{
        margin-top:320px;
        list-style-type: none;
        padding:0px;
        margin-left:14px;
        }
 li{
        margin-top:10px;
        font-size:17px;]
         }